body {
  background: blue;
  color: white;
  font-family: monospace;
  width: 200px;
  height: 100px;
}

h3 {
  background: white;
  color: blue;
  font-family: monospace;
}

legend {
  background: white;
  color: blue;
  font-family: monospace;
}

fieldset {
  height: 80px;
}

div {
  margin-top: 10px;
}

label {
  font-size: 14px;
}

legend {
  font-size: 13px;
}