body{
  background: blue;
  color: white;
  font-family: monospace;
  width: 200px;
  height: 100px;
}

h3{
  background: white;
  color: blue;
  font-family: monospace;
}

legend{
  background: white;
  color: blue;
  font-family: monospace;
}